/*
color:textColor;
*/
.mainBody
{
    background-color:#aaa;
}
#MainSvg
{
    position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	height:100%;
	width:100%;
}
path{
	fill-rule:evenodd;
}
.noselect {
	/* from http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; 
	-webkit-user-select: none;	 
	-khtml-user-select: none;		
	-moz-user-select: none;			
	-ms-user-select: none;			 
	user-select: none;	                                 
}
.smoothScroll {
	overflow-y: scroll; /* has to be scroll, not auto */
    overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.subBody
{
    padding:0px;
    margin:0px;
}
.subBody::-webkit-scrollbar { width: 0 !important }